*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  background-color: #1881aa;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: rgba(5, 83, 102, 0.758);
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input:hover {
  font-style: italic;
  transition: .3s;
  background-color: #e3fffe09;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: blaxk;
  font-style: bold;
  background-color: #409f9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgb(124, 124, 124);
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcfcb;
  color: black;
  font-style: bold;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}

.fb{
      padding: 10px;
      font-size: 35px;
      text-decoration: none;
      color: rgb(41, 96, 192);
  }

  .fb:hover{
      
      color: rgb(6, 55, 140);
      transition: .3s;
  }

  .ml{
      padding: 10px;
      font-size: 35px;
      text-decoration: none;
      color: rgb(154, 96, 202)
  }

  .ml:hover{
      color: rgb(113, 3, 197);
      transition: .3s;
  }

  .wa{
      padding: 10px;
      font-size: 35px;
      text-decoration: none;
      color: rgb(42, 153, 22);
  }

  .wa:hover{
      color: rgb(3, 92, 12);
      transition: .3s;
  }

  .ig{
      padding: 10px;
      font-size: 35px;
      text-decoration: none;
      color: rgb(231, 111, 167);
  }

  .ig:hover{
      color: rgb(173, 6, 84);
      transition: .3s;
  }

  .hm{
      padding: 10px;
      font-size: 35px;
      text-decoration: none;
      color: rgb(93, 185, 235);
  }

  .hm:hover{
      color: rgb(15, 124, 164);
      transition: .3s;
  }

  .bottom-icon{
    text-align: center;
  }

  input::placeholder{
    color: white;
  }